{% extends 'base.html.twig' %}


{% block body %}

<div>
    <a href='{{path('app_micro_post_add')}}'>Create new Post</a>
</div>

<div>
    {% for post in posts %}
        <div class="flex">
        <h2><a href="{{ path('app_micro_post_show',{id:post.id})}}">{{post.title}}</a></h2>
        <div>{{post.text}}
        <br>
            <span style="color:grey;">Created:</span>{{post.created|date('d/m/Y')}}
        </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
