{% extends "base.html.twig" %}

{% block body %}
{# <a href='{{path('app_micro_post_edit',{id:post.id})}}'>Modifica</a> #}
    <div>
        <h1>{{post.title}}</h1>
        <div>{{post.text}}
        <br>
            <span style="color:grey">Created:</span>{{post.created|date('d/m/Y')}}
        </div>
        </div>
        <a href="{{ path('app_micro_post')}}" class="underline hover:text-white">Torna indietro</a>
    </div>

{% endblock %}